/*Link pseudoclases*/
a:link{
 color:red;
}
a:visited{
color:green;
}

h1{
	text-align: center;
	color:black;
	font-family: BJCree,helveltica,monospace,sans-serif;
	font-size: 2.5em;
}
#menu{
	text-align: center;
}
/*color para la primera letra de los p*/
p::first-letter{
color:black;
font-size: 50px;
}
nav{
	background-color: lightblue;
}
body {
	background-color: steelblue;
}
p{
	color:black;
}
h3{
	color:darkslategray;
	text-decoration: underline;
}
/*aside al costado*/
.contenedor{
	display:flex;
	flex-direction: row;
	width: 100%;
	gap: 20px;
}
main{
flex:3;
min-width: 0;
}
aside{
	flex:1;
	background-color: lightblue;
	padding: 15px;
	border-radius: 5px;
}
footer{
	display:block;
	background-color:silver;
	border-style: solid;
	border-top-width: 15px;
}