header{
	background-color: teal;
	border:5px solid lightblue;
}
h1,h4,h5,nav{
	text-align: center;
  font-family: "BJCree", serif;
  font-weight: 400;
}
h1{
	font-size: 40px;
}
h4{
	font-size: 25px;
}
q{
	background-color: white;
	color: navy;
	font-size: 19px;
}
body {
background-image: url(../img/fondo.png);
	}
footer {
	background-color: teal;
	display: block;
	border:5px solid lightblue;
}
body{
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}
main{
	background-color: lightblue;
	flex:3;
	min-width: 0;
	width: 300px;
	padding: 20px;
	border:5px solid #0b6a73 ;
	margin: 10px;
	border-radius:10px ;
}
p{
	color:#160f3b;
	font-size: 18px;
}
	/*aside al costado*/
aside{
	flex:1;
	background-color: lightblue;
	padding: 20px;
	border: 5px solid #0b6a73 ;
margin: 10px;
}
.contenedor{
	display:flex;
	flex-direction: row;
	width: 100%;
	gap: 20px;
}
ul{
list-style:none ;
font-size: 23px;
}
ol{
list-style:square ;
color: navy;
font-size: 20px;
}
a:visited{
color:navy;
}
a.caca :active{
color:red;
}
p::first-letter{
	font-size: 30px;
}
h5{
	color:black;
	font-size: 19px;
}