h1{
	text-align: center;
	color: ghostwhite;
}
ol{
	text-align: center;
	background-color: #c67ff0;
}
p{
background-color: mediumpurple;	
}
div{
	background-color: rebeccapurple;
}
body{
	background-color: lavender;
}
