body{
	font-family: sans-serif;
	text-align:center;
background-color: darkred;
}

/* HEADER */
header{
	background-color:#b8e8fc;
}

/* TITULOS */
h1{
	color:#256d85;
	background-color:#b8e8fc;
}

h3{
	color:#3f72af;
}
footer{
	background-color: #b8e8fc;
}